<td class="numeric"><%= format('%4.1f', stat.green_hitting(club_name) * 100) %></td>
<td class="numeric"><%= stat.rank(:green_hitting, club_name) %></td>
<td class="numeric"><%= format('%4.1f', stat.green_hitting_distance(club_name)) %></td>
<td class="numeric"><%= stat.rank(:green_hitting_distance, club_name) %></td>
