<table id="leaders">
  <% @players.each_with_index do |player, index| -%>
    <tr class="<%= index >= num_players_in_leader_board && 'not_to_display' %>">
      <td><%= player %></td>
      <td class="numeric"><%= score_formatted(player.tournament_score) %></td>
    </tr>
  <% end -%>
</table>
