td.top_rank {
  background-color: pink;
}

div#player_stat {
  overflow: hidden;
  margin-top: 20px;
  margin-left: 10px;
}

table#all_stats_table td.player_name {
  cursor: pointer;
}

table#all_stats_table tr:hover {
  background-color: cyan;
}

table.player_stat_table {
  float: left;
  margin-left: 10px;

  span.close {
    cursor: pointer;
    vertical-align: super;
  }
}

div#command_to_edit_player_club {
  font-size: medium;
}
