td.top_rank {
  background-color: pink;
}

div#player_stat {
  margin-top: 20px;
  margin-left: 10px;
}

table#all_stats_table td.player_name {
  cursor: pointer;
}

table.player_stat_table {
  float: left;
  margin-left: 10px;
}
