// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "arial",sans-serif;
  font-size: x-small;

  td.smaller {
    font-size: x-small;
  }

  td.italic {
    font-style: italic;
  }

  div#button_to_proceed {
    margin-left: 320px;
  }

  table#players_info {
    font-size: x-small;
    position: fixed;
    top: 120px;

    td {
      padding: 0px 3px;
    }
  }

  div#leader_board {
    position: fixed;
    top: 300px;

    table {
      td {
        padding: 0px 5px;
      }
    }
  }

  div#score_cards {
    position: fixed;
    top: 300px;
    left: 200px;

    span.toggle_score_card_display {
      padding-left: 5px;
      margin-right: 10px;
    }

    span.toggle_score_card_display.current {
      color: white;
      background-color: black;
    }

    table {
      font-size: x-small;
      margin-top: 10px;

      td {
        width: 16px;
      }

      caption {
        text-align: left;
      }
    }
  }

  div#hole_map {
    position: fixed;
    top: 30px;
    left: 500px;

    table {
      float: left;

      caption {
        text-align: left;
      }

      td {
        text-align: center;
        padding: 2px 4px;
      }
    }

    table#green_map {
      margin-left: 30px;
    }
  }
}

body.pretty {
  font-size: large;

  td.smaller {
    font-size: medium;
  }

  div#button_to_proceed {
    margin-left: 400px;
  }

  table#players_info {
    font-size: medium;
    position: fixed;
    top: 180px;

    td {
      padding: 0px 5px;
    }
  }

  div#score_cards {
    top: 400px;
    left: 300px;

    table {
      font-size: medium;

      td {
        width: 24px;
      }
    }
  }

  div#leader_board {
    position: fixed;
    top: 400px;

    table {
      td {
        color: yellow;
        background-color: black;
        padding: 2px 12px;
      }
    }
  }

  div#hole_map {
    left: 500px;

    table {
      font-size: small;

      caption {
        font-size: medium;
      }

      td.fairway, td.near_green {
        color: black;
        background-color: LawnGreen;
      }

      td.green {
        color: yellow;
        background-color: SeaGreen;
      }

      td.trees {
        color: white;
        background-color: DarkGreen;
      }

      td.fairway_trap, td.sand {
        color: black;
        background-color: Wheat;
      }

      td.water {
        color: white;
        background-color: Blue;
      }

      td.water_near_green {
        color: white;
        background-color: DeepSkyBlue;
      }

      td.shallows_water {
        color: white;
        background-color: DodgerBlue;
      }

      td.rough {
        color: black;
        background-color: LimeGreen;
      }

      td.mounds {
        color: black;
        background-color: MediumSeaGreen;
      }

      td.rocks {
        color: white;
        background-color: Brown;
      }
    }

    table#fairway_map td {
      width: 100px;
    }

    table#green_map td {
      width: 40px;
    }
  }

  div#message {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 6px;
  }

  span.button {
    font-size: medium;
    cursor: pointer;
  }
}

div.error {
  color: red;
}

td.current {
  color: white;
  background-color: black;
}

td.emphasized {
  font-weight: bold;
}

span.button {
  font-size: xx-small;
  cursor: pointer;
}
