// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "arial",sans-serif;
  font-size: small;
}

div#button_to_proceed {
  margin-left: 400px;
}

div.error {
  color: red;
}

td.numeric {
  text-align: right;
}

td.current {
  color: white;
  background-color: black;
}

td.emphasized {
  font-weight: bold;
}

span.button {
  font-size: xx-small;
  cursor: pointer;
}

body.real {
}

table#players_info {
  font-size: x-small;
  margin-top: 20px;
  position: fixed;
  top: 100px;
}
